{% extends "_layouts/page" %}
{% block content %}
	{% set embedLink = entry.escaperoomLink|replace("edit", "embed") %}

	<div class="wrapper--small">
		<div class="detail-variant__header">
			<p class="detail__creator">
				<span class="detail__creator bold">{{entry.author}}</span>
				|
				{{entry.dateCreated|date('d/m/Y')}}
			</p>
			<h1 class="detail-variant__title">{{entry.title}}</h1>
			<div class="detail__theme-wrapper">
				{% for theme in entry.escaperoomThemes %}
					<p class="detail__theme">{{theme.title}}</p>
				{% endfor %}
			</div>
		</div>

		<iframe class="detail__iframe" src="{{embedLink}}" loading="lazy" frameborder="0" width="100%" height="486" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

		<h2 class="title">Waar gaat de escaperoom over?</h2>
		<div class="detail__text">
			{{entry.escaperoomExplanation}}
		</div>
	</div>
{% endblock %}
