{% if entry.bannerCallToAction %}
	{% set cta = entry.bannerCallToAction.one() %}
{% endif %}
<section class="container--fluid">
	<div class="wrapper">
		<div class="banner">
			<div class="banner__visual">
				{% set image = entry.bannerImage.one() %}
				<img class="banner__image" src="{{siteUrl}}/uploads/{{ image.getUrl() }}" alt="{{ image.alt }}">
			</div>
			<div class="banner__content">
				<h2 class="banner__title">
					{{ entry.bannerTitle }}
				</h2>
				<p class="banner__text">
					{{ entry.bannerDescription }}
				</p>
				{% if entry.bannerCallToAction  %}
					<a href="{{cta.callToActionUrl}}" class="button button--primary">
						{{cta.label}}
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
