<div class="my-slider carousel-theme__wrapper">
	{% set themes = craft.categories().group('themes') %}

	{% set themeCount = themes|length / 7 %}
	{% set themeCountRounded = themeCount|round(0, 'ceil') %}

	{% for theme in themes %}
		{% set icon = theme.themeIcon.one() %}
		<div>
			<a href="{{theme.url}}" class="carousel-theme">
				<div class="carousel-theme__container">
					<img class="carousel-theme__icon" src="{{siteUrl}}uploads/{{ icon.getUrl() }}" alt={{ icon.alt}}>
				</div>
				<h2 class="carousel-theme__title">{{theme.title}}</h2>
			</a>
		</div>
	{% endfor %}
</div>
<div class="carousel__nav">
	{% for i in range(1, themeCountRounded) %}
		<div class="carousel__dot"></div>
	{% endfor %}
</div>
