<!-- One escaperoom -->
<a href="{{escaperoom.url}}" class="escaperoom" style="background-color: {{ escaperoom.escaperoomColor.hex }}">
	<div class="escaperoom__content">
		<h3 class="escaperoom__title">{{ escaperoom.title }}</h3>
		<p class="escaperoom__author">
			{{ escaperoom.author}}
		</p>
	</div>
	<div>
		<img class="escaperoom__image" src="{{ siteUrl }}assets/resources/images/escaperoom.svg">
	</div>
</a>
