{% set image = page.articleThumbnail.one() %}

<a href="{{page.url}}" class="page__container">
	<img class="page__image" src="{{siteUrl}}/uploads/{{image.url}}">
	<div>
		<h2 class="page__title">
			{{ page.title|striptags|length > 55 ? page.title|striptags|slice(0, 55) ~ '...' : page.title|striptags }}
		</h2>
		<p class="page__excerpt">
			{{ page.articleExcerpt|striptags|length > 50 ? page.articleExcerpt|striptags|slice(0, 50) ~ '...' : page.articleExcerpt|striptags }}
		</p>
	</div>
</a>
