{% extends "_layouts/users" %}

{% block content %}

	<section class="login__container" style="background-image: url({{siteUrl}}assets/resources/images/login.svg)">
		<div class="login__wrapper">
			<form method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{{ actionInput('users/set-password') }}

				{{ hiddenInput('code', code) }}
				{{ hiddenInput('id', id) }}

				{% if errorMessage is defined %}
					<p class="error">{{ errorMessage }}</p>
				{% endif %}

				<div class="formgroup">
					<h2 class="subtitle">Kies een nieuw wachtwoord voor je account te beveiligen.</h2>
				</div>

				<div class="formgroup">
					<label for="new-password">Nieuw wachtwoord</label>
					{{ input('password', 'newPassword', null, {
                        id: 'new-password',
                    }) }}
				</div>

				<button class="button button--login">Bevestig</button>
			</form>

			<p class="formgroup formgroup--center">
				<a class="link" href="{{ url('login') }}">Ga naar login</a>
			</p>


		</div>
	</section>

{% endblock %}
