{% extends "_layouts/page" %}
{% block content %}

	{% set image = entry.articleThumbnail.one() %}
	{% set pages = craft.entries({
		section : 'dossiers',
		descendantOf: entry.id,
		})
	%}

	<img class="detail__image" src="{{siteUrl}}/uploads/{{image.getUrl()}}">

	<div
		class="wrapper--small">

		{# Display breadcrumbs if the entry is a child of the dossier #}
		<ul class="breadcrumbs">
			<li class="breadcrumbs__link">
				<a href="{{siteUrl}}/dashboard">Overzicht</a>
			</li>
			<img src="{{siteUrl}}/assets/resources/icons/chevron_right.svg" alt="arrow">
			{% for crumb in entry.getAncestors() %}
				<li class="breadcrumbs__link">{{ crumb.getLink() }}</li>
				<img src="{{siteUrl}}/assets/resources/icons/chevron_right.svg" alt="arrow">
			{% endfor %}
			<li class="breadcrumbs__link active">
				{{ entry.title|striptags|length > 30 ? entry.title|striptags|slice(0, 30) ~ '...' : entry.title|striptags }}
			</li>
		</ul>

		<p class="detail__creator">
			<span class="detail__creator bold">{{entry.author}}</span>
			|
			{{entry.dateCreated|date('d/m/Y')}}
		</p>

		<div class="flex flex--between">
			<h1 class="detail__title">{{entry.title}}</h1>

			{% if entry.authorID == currentUser.id %}
				<div class="dropdown">
					<button onclick="dropdown()" class="detail__action dropdownBtn" type="button" id="dropdownBtn">
						<img src="{{siteUrl}}/assets/resources/icons/dots.svg">
					</button>
					<div id="dropdownContent" class="dropdown-content">
						{% if entry.level == 1 %}
							<a href="{{ siteUrl('sitebuilder/edit', {entryId: entry.id}) }}">Bewerken</a>
						{% else %}
							<a href="{{ siteUrl('sitebuilder/edit', {entryId: entry.id, parentId: entry.parent.id}) }}">Bewerken</a>
						{% endif %}
						<form method="post" accept-charset="UTF-8">
							{{ csrfInput() }}
							{{ actionInput('entries/save-entry') }}
							{{ hiddenInput('entryId', entry.id) }}
							{{ hiddenInput('enabled', '0') }}
							{{ redirectInput( siteUrl ~ 'sitebuilder') }}
							<button type="submit" class="dropdown-item">Verwijderen</button>
						</form>
					</div>
				</div>
			{% endif %}
		</div>


		{# Checks if the entry the parent of the dossier #}
		{% if entry.level == 1 %}
			<div class="detail__theme-wrapper">
				{% for theme in entry.articleThemes %}
					<p class="detail__theme">{{theme.title}}</p>
				{% endfor %}
			</div>

			<div class="detail__text">
				{{ entry.articleIntroduction }}
			</div>

		{% else %}
			<div class="detail__text">
				{{ entry.articleRichtext|replace('<p>Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a></p>', '')|purify|nl2br }}
			</div>
		{% endif %}


		{% if entry.level == 1 %}
			{% if entry.authorID == currentUser.id %}
				<div class="flex flex--between">
					<h2 class="title title--flex">Pagina's</h2>
					<a href="{{ siteUrl('sitebuilder/create', {parentId: entry.id}) }}" class="action__icon">
						<img src="{{siteUrl}}/assets/resources/icons/plus.svg">
					</a>
				</div>
			{% else %}
				<h2 class="title">Pagina's</h2>
			{% endif %}

			{% if pages|length > 0 %}
				<ul class="detail__navigation ">
					{% for page in pages %}
						{% include "_includes/components/page" %}
					{% endfor %}
				</ul>
			{% else %}
				<div class="flex flex--center">
					<div class="state--empty">
						<img src="{{siteUrl}}assets/resources/images/nothing-found.svg">
						<h3>Het is hier leeg</h3>
						<p>Je hebt nog geen pagina's. Klik op het plus icoon om er één aan te maken.
						</p>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
