{% extends "_layouts/site" %}

{% block content %}
	<div
		class="wrapper">

		<!-- Carousel -->
		<section>
			<h1 class="title">Thema's</h1>

			<div class="my-slider carousel-theme__wrapper">
				{% set themes = craft.categories().group('themes') %}

				{% for theme in themes %}
					{% set icon = theme.themeIcon.one() %}

					<div>
						<a href="{{theme.url}}" class="carousel-theme">
							<div class="carousel-theme__container">
								<img class="carousel-theme__icon" src="{{siteUrl}}uploads/{{ icon.url }}" alt={{ icon.alt}}>
							</div>
							<h2 class="carousel-theme__title">{{theme.title}}</h2>
						</a>
					</div>
				{% endfor %}
			</div>
			<div class="carousel__nav">
				<div class="carousel__dot"></div>
				<div class="carousel__dot"></div>
				<div class="carousel__dot"></div>
				<div class="carousel__dot"></div>
			</div>

		</section>

		{% include "_includes/components/featured-dossiers" with {"featuredArticles": entry.featuredArticles} %}

		{% include "_includes/components/featured-escaperooms" with {"featuredEscaperooms": entry.featuredEscaperooms} %}

	</div>

	<!-- Container Fluid -->
	<section class="container--fluid">
		<div class="wrapper">
			<div class="banner">
				<div class="banner__visual">
					<img class="banner__image" src="{{ siteUrl }}assets/resources/images/sitebuilder.png" alt="fluid">
				</div>
				<div class="banner__content">
					<h2 class="banner__title">Maak je eigen pagina met de nieuwe sitebuilder tool</h2>
					<p class="banner__text">Wil je iets delen over een thema, onderzoeksvraag of ander onderwerp? Dit kan sinds kort met de nieuwe sitebuilder tool. Simpel en direct zichtbaar voor anderen. Probeer het nu!</p>
					<a href="/sitebuilder" class="button button--primary">
						Maak je eigen pagina
					</a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
